* {
  /* Sizing helper: See Workbook 1b, page 2-33. */
  box-sizing: border-box;

  /* outline: 1px dotted red; */
}

:root {
  font-size: 1rem;
}
.custom-navbar {
  background-color: #000000 !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #ffffff !important;
}

.custom-navbar .nav-link:hover {
  color: #cccccc !important;
}

.custom-navbar .btn-outline-light {
  border-color: #ffffff !important;
  color: #ffffff !important;
}

.custom-navbar .btn-outline-light:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}
